<div class="main_Client">
  <h1 class="mainComponentHeading">Clients</h1>
</div>
<div class="client">
  <div class="clientTop">
    <button type="button addButton">Add Client</button>
  </div>
  <div class="clientBody">
    <div class="clientCards">
      <div class="cards" *ngFor="let client of clientsInfo">
        <div class="clientImage"></div>
        <div class="clientRevenue">
          <div class="revenue">
            <span class="material-symbols-outlined icon"> attach_money </span>
            <h3>{{ client.revenue }}</h3>
          </div>
          <div class="invoices">
            <span class="material-symbols-outlined icon"> note </span>
            <h3>{{ client.invoices }}</h3>
          </div>
          <div class="paid">
            <span class="material-symbols-outlined icon"> done_all </span>
            <h3>{{ client.paid }}</h3>
          </div>
          <div class="due">
            <span class="material-symbols-outlined icon"> emergency_home</span>
            <h3>{{ client.due }}</h3>
          </div>
        </div>
        <div class="buttons">
          <button type="button">Details</button>
          <button type="button">Finance</button>
        </div>
      </div>
    </div>
  </div>
</div>
