.client {
  height: 95%;
}
.client .clientTop {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.client .clientBody {
  height: 92%;
  padding-top: 8px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.client .clientBody .clientCards {
  height: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.client .clientBody .clientCards .cards {
  width: 25%;
  height: 44%;
  background-color: white;
  border-radius: 8px;
  margin: 0px 2%;
  padding: 10px;
  transition: all 0.3s ease;
}
.client .clientBody .clientCards .cards:hover {
  border-color: #828282;
  transform: scale(1.1);
  cursor: pointer;
}
.client .clientBody .clientCards .cards .clientImage {
  height: 60%;
  /* border: 1px solid red; */
}

.client .clientBody .clientCards .cards .clientRevenue {
  height: 20%;
  /* border: 1px solid rgb(4, 119, 226); */
  display: flex;
  flex-direction: row;
}
.client .clientBody .clientCards .cards .clientRevenue .revenue,
.client .clientBody .clientCards .cards .clientRevenue .invoices,
.client .clientBody .clientCards .cards .clientRevenue .paid,
.client .clientBody .clientCards .cards .clientRevenue .due {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  justify-content: center;
  /* border: 1px solid red; */
}
.client .clientBody .clientCards .cards .clientRevenue .revenue .icon {
  background-color: #b9f7ba85;
  margin-right: 10px;
  font-size: 30px;
  color: #21f321;
  border-radius: 50%;
}

.client .clientBody .clientCards .cards .clientRevenue .invoices .icon {
  background-color: #81c1ff4a;
  margin-right: 10px;
  font-size: 25px;
  color: #21adf3;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client .clientBody .clientCards .cards .clientRevenue .paid .icon {
  background-color: #c181ff4a;
  margin-right: 10px;
  font-size: 25px;
  color: #651cef;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.client .clientBody .clientCards .cards .clientRevenue .due .icon {
  background-color: #f790904a;
  margin-right: 10px;
  font-size: 25px;
  color: #ff0808;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client .clientBody .clientCards .cards .buttons {
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.client .clientBody .clientCards .cards button {
  width: 120px;
  height: 80%;
  font-size: 24px;
  color: #0560fd;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #0560fd;
  font-weight: 400;
}
.client .clientBody .clientCards .cards button:hover {
  color: white;
  background-color: #0560fd;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  cursor: pointer;
}
