<div class="main_Product">
  <h1 class="mainComponentHeading">Product</h1>
</div>
<div class="products">
  <div class="productsTop">
    <button type="button">Add Product</button>
  </div>
  <div class="productsBody">
    <div
      class="allCards"
      *ngFor="
        let product of allProduct
          | paginate : { itemsPerPage: psize, currentPage: currentPage }
      "
    >
      <div class="card">
        <div class="cardImage"></div>
        <div class="cardBody">
          <div class="productInfo">
            <h3>{{ product.name }}</h3>
            <h4>{{ product.descrption }}</h4>
          </div>
          <div class="productStock">
            <h4>In Stock: {{ product.inStock }}</h4>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls
      (pageChange)="currentPage = $event"
    ></pagination-controls>
  </div>
</div>
