<div class="main_Product">
  <h1 class="mainComponentHeading">Product</h1>
</div>
<div class="products">
  <div class="productsTop">
    <input
      type="text"
      [(ngModel)]="searchText"
      name="searchBar"
      id="searchBar"
      placeholder="Search Product"
    />
    <button type="button addButton">Add Product</button>
  </div>
  <div class="productsBody">
    <div class="allCards">
      <div
        class="card"
        *ngFor="
          let product of filteredItems
            | paginate : { itemsPerPage: psize, currentPage: currentPage }
        "
      >
        <div class="cardImage"></div>
        <div class="cardBody">
          <div class="productInfo">
            <h3>{{ product.name }}</h3>
            <h4>{{ product.descrption }}</h4>
          </div>
          <div class="productStock">
            <h4>In Stock: {{ product.inStock }}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="productBottom">
      <pagination-controls
        (pageChange)="currentPage = $event"
      ></pagination-controls>
    </div>
  </div>
</div>
