.main {
  width: 100%;
  height: 95%;
  padding: 10px;
}
.main .homeTop {
  width: 100%;

  height: 22%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.main .homeTop .common {
  width: 30%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .homeTop .common .content {
  display: inline-flex;
  font-size: 30px;
  /* border: 1px solid red; */
  width: 50%;
  align-items: center;
  justify-content: center;
}
.main .homeTop .common .content .icon {
  font-size: 30px;
  width: 34px;
  height: 34px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;

  border-radius: 50%;
}
.main .homeTop .common .content .amount {
  background-color: #3efa3e2e;
  color: #49d849;
}
.main .homeTop .common .content .invoice {
  background-color: #a4d8ed70;
  color: #00a1fb;
  font-size: 24px;
}
.main .homeTop .common .content .groups {
  background-color: #edd8a470;
  color: #fbb400;
  font-size: 26px;
}

.main .homeTop .common h2 {
  margin-bottom: 8px;
  color: #7c8290;
}
