<div class="main_Home">
  <h1 class="mainComponentHeading">Home</h1>
</div>
<div class="main">
  <div class="homeTop">
    <button type="submit" class="totalRevenue common">
      <h2>Revenue</h2>
      <div class="content">
        <span class="material-symbols-outlined icon amount">
          attach_money
        </span>
        <h3>231k</h3>
      </div>
    </button>
    <button type="submit" class="totalInvoices common">
      <h2>Invoices</h2>
      <div class="content">
        <span class="material-symbols-outlined icon invoice"> note </span>
        <h3>2,221</h3>
      </div>
    </button>
    <button type="submit" class="totalClient common">
      <h2>Clients</h2>
      <div class="content">
        <span class="material-symbols-outlined icon groups"> groups </span>
        <h3>879</h3>
      </div>
    </button>
  </div>
  <div class="homeBottom">
    <div class="graph">
      <div class="main_Graph">
        <div
          *ngFor="let height of heights"
          class="bar"
          [style.height]="height"
        ></div>
      </div>
      <div class="x_axis">
        <div class="axis" *ngFor="let item of graphAxis">
          <p>{{ item }}</p>
        </div>
      </div>
    </div>
    <div class="ActivityTable"></div>
  </div>
</div>
