<div class="main_Home">
  <h1 class="mainComponentHeading">Home</h1>
</div>
<div class="main">
  <div class="homeTop">
    <div class="totalRevenue common">
      <h2>Revenue</h2>
      <div class="content">
        <span class="material-symbols-outlined icon amount">
          attach_money
        </span>
        <h3>231k</h3>
      </div>
    </div>
    <div class="totalInvoices common">
      <h2>Invoices</h2>
      <div class="content">
        <span class="material-symbols-outlined icon invoice"> note </span>
        <h3>2,221</h3>
      </div>
    </div>
    <div class="totalClient common">
      <h2>Clients</h2>
      <div class="content">
        <span class="material-symbols-outlined icon groups"> groups </span>
        <h3>879</h3>
      </div>
    </div>
  </div>
</div>
