<div class="main_Inventory">
  <h1 class="mainComponentHeading">Inventory</h1>
</div>
<div class="inventoryMain">
  <div class="inventoryBody"></div>
  <div class="overview">
    <div class="overviewBody">
      <h3>OVERVIEW</h3>
      <div class="overviewTop">
        <div class="totalSKU">
          <p>SKU Total</p>
          <h1>12,039</h1>
        </div>
        <div class="totalSKU">
          <p>Total Products</p>
          <h1 style="color: rgb(154, 73, 247)">12,500</h1>
        </div>
      </div>
    </div>
  </div>
</div>
