.inventoryMain {
  /* border: 1px solid red; */
  margin-top: 12px;
  height: 150%;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
}
.inventoryMain .inventoryBody {
  width: 75%;
  height: 100%;
  /* border: 1px solid red; */
}
.inventoryMain .overview {
  width: 22%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.inventoryMain .overview::-webkit-scrollbar {
  width: 0px;
}
.inventoryMain .overview .overviewBody {
  /* border: 1px solid red; */
  height: 500px;
  border-radius: 16px;
  background-color: white;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
}
.inventoryMain .overview .overviewBody h3 {
  height: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #1ca6f7;
  margin-bottom: 8px;
}
.inventoryMain .overview .overviewBody .overviewTop {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  justify-content: space-between;
}
.inventoryMain .overview .overviewBody .overviewTop .totalSKU {
  border: 2px solid rgb(224, 224, 224);
  width: 48%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.inventoryMain .overview .overviewBody .overviewTop .totalSKU p {
  margin-bottom: 8px;
  font-size: 18px;
  color: #7c8290;
  font-weight: 400;
}
.inventoryMain .overview .overviewBody .overviewTop .totalSKU h1 {
  color: #1ca6f7;
}
.inventoryMain .overview .overviewBody .overviewBottom {
  border: 2px solid rgb(224, 224, 224);
  border-radius: 10px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inventoryMain .overview .overviewBody .overviewBottom p {
  color: #7c8290;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 200;
}
.inventoryMain .overview .overviewBody .overviewBottom h1 {
  color: rgb(90, 252, 130);
}
