<div class="main_Inventory">
  <h1 class="mainComponentHeading">Inventory</h1>
</div>
<div class="inventoryMain">
  <div class="inventoryBody">
    <div class="inventorybtns">
      <div class="dropDowns">
        <div class="categories">
          <label for="options">Categories:</label>
          <select
            id="options"
            [(ngModel)]="selectedOption"
            (change)="onOptionSelected()"
          >
            <option value="option1">All</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
        </div>
      </div>
      <button type="submit">
        <span class="material-symbols-outlined"> add </span> Add Product
      </button>
    </div>
    <div class="inventory">
      <div class="inventoryHeading">
        <p>No.</p>
        <div class="productCode">Code</div>
        <div class="productPicture">Product</div>
        <div class="productName">Brand</div>
        <div class="productDescription">Description</div>
        <div class="category">Categories</div>
        <div class="stock">Stock</div>
        <div class="sales">Sales</div>
      </div>
      <div class="inventoryList">
        <div
          *ngFor="let product of products"
          class="inventoryItem"
          (mouseenter)="setHoveredProduct(product)"
          (mouseleave)="clearHoveredProduct()"
        >
          <p>1.</p>
          <div class="productCode">{{ product.productCode }}</div>
          <img class="productPicture" src="" alt="" />
          <div class="productName">{{ product.productName }}</div>
          <div class="productDescription">{{ product.description }}</div>
          <div class="category">{{ product.category }}</div>
          <div class="stock">{{ product.stock }}</div>
          <div class="sales">{{ product.sales }}</div>

          <div *ngIf="isHovered(product)" class="card">
            <h3>{{ product.productCode }}</h3>
            <h3>{{ product.category }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overview">
    <div class="overviewBody">
      <h3>OVERVIEW</h3>
      <div class="overviewTop">
        <button class="totalSKU">
          <p>SKU Total</p>
          <h1>12,039</h1>
        </button>
        <button class="totalSKU">
          <p>Total Products</p>
          <h1 style="color: rgb(154, 73, 247)">12,500</h1>
        </button>

        <button class="totalSKU">
          <p>Returned</p>
          <h1 style="color: rgb(255, 187, 60)">587</h1>
        </button>
        <button class="totalSKU">
          <p>Damaged</p>
          <h1 style="color: rgb(255, 92, 92)">127</h1>
        </button>
      </div>
      <button class="overviewBottom">
        <p>Total Sales</p>
        <h1>8,430</h1>
      </button>
    </div>
  </div>
</div>
