<div class="main_Inventory">
  <h1 class="mainComponentHeading">Inventory</h1>
</div>
<div class="inventoryMain">
  <div class="inventoryBody"></div>
  <div class="overview">
    <div class="overviewBody">
      <h3>OVERVIEW</h3>
      <div class="overviewTop">
        <button class="totalSKU">
          <p>SKU Total</p>
          <h1>12,039</h1>
        </button>
        <button class="totalSKU">
          <p>Total Products</p>
          <h1 style="color: rgb(154, 73, 247)">12,500</h1>
        </button>

        <button class="totalSKU">
          <p>Returned</p>
          <h1 style="color: rgb(255, 187, 60)">587</h1>
        </button>
        <button class="totalSKU">
          <p>Damaged</p>
          <h1 style="color: rgb(255, 92, 92)">127</h1>
        </button>
      </div>
      <button class="overviewBottom">
        <p>Total Sales</p>
        <h1>8,430</h1>
      </button>
    </div>
  </div>
</div>
