.inventoryMain .inventoryBody .inventorybtns {
  /* border: 1px solid red; */
  height: 10%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.inventoryMain .inventoryBody .inventorybtns .dropDowns {
  /* border: 1px solid red; */
  width: 75%;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.inventoryMain .inventoryBody .inventorybtns .dropDowns .categories {
  border: 1px solid rgb(133, 133, 133);
  width: 230px;
  height: 50px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  font-size: 20px;
  overflow: hidden;
  margin-right: 16px;
}
.inventoryMain .inventoryBody .inventorybtns .dropDowns .categories select {
  border: none;
  /* border: 1px solid red; */
  width: 110px;
  height: 100%;
  font-size: 18px;
  background-color: transparent;
}
.inventoryMain
  .inventoryBody
  .inventorybtns
  .dropDowns
  .categories
  select:focus {
  border: none;
  outline: none;
}
.categories select option {
  border: 1px solid red;
  min-width: 30px;
  border-radius: 0px;
  color: blue;
}

.inventoryMain .inventoryBody .inventorybtns button {
  /* border: 1px solid red; */
  background-color: transparent;
  width: 200px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(52, 162, 252);
  font-weight: 600;
  border: none;
}
.inventoryMain .inventoryBody .inventorybtns button span {
  font-size: 30px;
  margin: 0px 4px;
  color: rgb(52, 162, 252);
  font-weight: 400;
}

.inventoryMain .inventoryBody .inventory {
  /* border: 1px solid red; */
  height: 90%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  overflow: hidden;
}
.inventoryMain .inventoryBody .inventory .inventoryHeading {
  /* border: 1px solid red; */
  display: inline-flex;
  align-items: center;
  height: 10%;
  width: 100%;
  justify-content: flex-start;
  font-size: 22px;
  font-weight: 600;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background-color: rgb(227, 230, 230);
}

.inventoryMain .inventoryBody .inventory .inventoryHeading p {
  width: 4%;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inventoryMain .inventoryBody .inventory .inventoryHeading .productCode {
  width: 12%;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inventoryMain .inventoryBody .inventory .inventoryHeading .productPicture {
  width: 10%;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inventoryMain .inventoryBody .inventory .inventoryHeading .productDescription {
  width: 34%;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.inventoryMain .inventoryBody .inventory .inventoryHeading .productName {
  width: 10%;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.inventoryMain .inventoryBody .inventory .inventoryHeading .category {
  width: 18%;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventoryMain .inventoryBody .inventory .inventoryHeading .stock,
.inventoryMain .inventoryBody .inventory .inventoryHeading .sales {
  width: 6%;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventoryMain .inventoryBody .inventory .inventoryList {
  height: 90%;
  /* border: 1px solid red; */
}
.inventoryMain .inventoryBody .inventory .inventoryList .inventoryItem {
  /* border: 1px solid red; */
  display: inline-flex;
  align-items: center;
  height: 70px;
  width: 100%;
  justify-content: flex-start;
  font-size: 18px;
}
.inventoryMain .inventoryBody .inventory .inventoryList .inventoryItem p {
  width: 4%;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inventoryMain
  .inventoryBody
  .inventory
  .inventoryList
  .inventoryItem
  .productCode {
  width: 12%;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inventoryMain
  .inventoryBody
  .inventory
  .inventoryList
  .inventoryItem
  .productPicture {
  width: 10%;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inventoryMain
  .inventoryBody
  .inventory
  .inventoryList
  .inventoryItem
  .productDescription {
  width: 34%;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.inventoryMain
  .inventoryBody
  .inventory
  .inventoryList
  .inventoryItem
  .productName {
  width: 10%;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.inventoryMain
  .inventoryBody
  .inventory
  .inventoryList
  .inventoryItem
  .category {
  width: 18%;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventoryMain .inventoryBody .inventory .inventoryList .inventoryItem .stock,
.inventoryMain .inventoryBody .inventory .inventoryList .inventoryItem .sales {
  width: 6%;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .inventoryMain .inventoryBody .inventory .inventoryList .inventoryItem:host {
} */
