<div class="signup">
  <div class="main_signup">
    <div class="left">
      <h1>Invo.</h1>
    </div>

    <div class="form">
      <h2>Signup</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <label for="firstName">First Name: </label>
        <input
          type="text"
          placeholder="Enter First name"
          id="firstName"
          formControlName="firstName"
        />
        <div
          *ngIf="validForm && signupForm.get('firstName')?.hasError('required')"
        >
          First Name is Required
        </div>

        <label for="lastName">Last Name: </label>
        <input
          type="text"
          placeholder="Enter Last name"
          id="lastName"
          formControlName="lastName"
        />
        <div
          *ngIf="validForm && signupForm.get('lastName')?.hasError('required')"
        >
          Last Name is Required
        </div>

        <label for="email">Email : </label>
        <input
          type="email"
          placeholder="Enter email"
          id="email"
          formControlName="email"
        />
        <div
          *ngIf="
            validForm && signupForm.get('email')?.hasError('emailRequired')
          "
        >
          Email is Required
        </div>
        <div *ngIf="validForm && signupForm.get('email')!.hasError('email')">
          Please enter a valid email address.
        </div>

        <label for="password">Password : </label>
        <input
          type="password"
          placeholder="Enter password"
          id="password"
          formControlName="password"
        />
        <div
          *ngIf="
            validForm &&
            signupForm.get('password')?.hasError('passwordRequired')
          "
        >
          Password is required.
        </div>
        <div
          *ngIf="validForm && signupForm.get('password')?.hasError('minlength')"
        >
          Password must be at least 6 characters.
        </div>
        <div class="btn">
          <button type="button">Login</button>
          <button type="submit">Signup</button>
        </div>
      </form>
    </div>
  </div>
</div>
