<div class="main_Invoices">
  <h1 class="mainComponentHeading">Invoices</h1>
</div>
<div class="invoice">
  <div class="invoiceTop">
    <div *ngFor="let items of invoices; let i = index" class="invoices cards">
      <h1>{{ items.heading }}</h1>
      <div class="cardBody">
        <span class="material-symbols-outlined icon" [ngClass]="items.color">
          {{ items.icon }}
        </span>
        <h2>{{ items.value }}</h2>
      </div>
    </div>
  </div>
  <div class="invoiceBottom">
    <div class="invoiceBtns">
      <button type="button">Filter</button>
      <button type="button">
        <span class="material-symbols-outlined"> add </span> Invoice
      </button>
    </div>
    <div class="invoiceTables"></div>
  </div>
</div>
