.invoice .invoiceBottom {
  /* border: 1px solid red; */
  height: 77%;
  padding: 12px;
}
.invoice .invoiceBottom .invoiceBtns {
  /* border: 1px solid red; */
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.invoice .invoiceBottom .invoiceBtns button {
  width: 100px;
  margin: 0px 10px;
  height: 80%;
  border-radius: 8px;
  font-size: 20px;
  background-color: white;
  border: none;
  font-weight: 600;
}
.invoice .invoiceBottom .invoiceBtns button:nth-child(2) {
  width: 135px !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #0560fd;
  color: white;
}
.invoice .invoiceBottom .invoiceBtns button:nth-child(1) {
  color: #0560fd;
  border: 1px solid #0560fd;
}
.invoice .invoiceBottom .invoiceBtns button:nth-child(1):hover {
  color: white;
  background-color: #0560fd;
  cursor: pointer;
}
.invoice .invoiceBottom .invoiceBtns button:nth-child(2):hover {
  color: #0560fd;
  background-color: white;
  border: 1px solid #0560fd;
  cursor: pointer;
}
.invoice .invoiceBottom .invoiceTable {
  display: flex;
  border: 1px solid rgb(205, 204, 204);
  flex-direction: column;
  justify-content: center;
  height: 90%;
  padding: 0px 10px;
  background-color: white;
  border-radius: 8px;
}
.invoice .invoiceBottom .invoiceTable .tableHeading {
  width: 100%;
  height: 10%;
  font-size: 18px;
  font-weight: 600;
  display: inline-flex;
  color: #7c8290;
}
.invoice .invoiceBottom .invoiceTable .tableHeading .column1 {
  /* border: 1px solid red; */
  height: 100%;
  width: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invoice .invoiceBottom .invoiceTable .tableHeading .column2 {
  /* border: 1px solid red; */
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invoice .invoiceBottom .invoiceTable .tableHeading .column4 {
  /* border: 1px solid red; */
  height: 100%;
  width: 44%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invoice .invoiceBottom .invoiceTable .tableContent {
  height: 90%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.invoice .invoiceBottom .invoiceTable .tableContent::-webkit-scrollbar {
  width: 0px;
}
.invoice .invoiceBottom .invoiceTable .tableContent ul {
  height: 100%;
}
.invoice .invoiceBottom .invoiceTable .tableContent ul li {
  /* border-bottom: 1px solid rgb(218, 218, 221); */
  /* border-top: 1px solid rgb(218, 218, 221); */
  /* background-color: rgb(231, 241, 250); */
  display: inline-flex;
  list-style: none;
  height: 10%;
  width: 100%;
  border-radius: 2px;
}
.invoice .invoiceBottom .invoiceTable .tableContent ul li .cell1 {
  height: 100%;
  width: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invoice .invoiceBottom .invoiceTable .tableContent ul li .cell1 {
  height: 100%;
  width: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invoice .invoiceBottom .invoiceTable .tableContent ul li .cell2 {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invoice .invoiceBottom .invoiceTable .tableContent ul li .cell4 {
  height: 100%;
  width: 44%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.invoice .invoiceBottom .invoiceTable .tableContent ul li .paid p {
  background-color: rgb(215, 246, 215);
  color: rgb(75, 171, 64);
  width: 50px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
