.invoice .invoiceBottom {
  border: 1px solid red;
  height: 77%;
  padding: 12px;
}
.invoice .invoiceBottom .invoiceBtns {
  /* border: 1px solid red; */
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.invoice .invoiceBottom .invoiceBtns button {
  width: 120px;
  margin: 0px 10px;
  height: 90%;
  border-radius: 8px;
  font-size: 20px;
  background-color: white;
  border: none;
}
