.invoice {
  /* border: 1px solid red; */
  height: 95%;
}
.invoice .invoiceTop {
  height: 23%;
  padding: 12px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
}

.invoice .invoiceTop .cards {
  width: 24%;
  height: 100%;
  border-radius: 15px;
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #7c8290;
}
.invoice .invoiceTop .cards .cardBody {
  /* border: 1px solid red; */
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 4px 0px;
  color: black;
}
.invoice .invoiceTop .cards .cardBody .icon {
  font-size: 40px;
  margin-right: 8px;
}

.color1 {
  color: #cfbfad;
}

.color2 {
  color: #91aec4;
}

.color3 {
  color: #a3c585;
}

.color4 {
  color: #cb4c46;
}

.modal .modal-content .formBody .formBottom button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.modal .modal-content .formBody .formBottom button[disabled]:hover {
  background-color: rgb(217, 240, 249);
  color: #0560fd;
  opacity: 0.5;
  cursor: pointer;
}

/* .modal .modal-content .formBody .formBottom .savebtn {
  background-color: rgb(217, 240, 249);
  color: #0560fd;
  border: none;
}

.modal .modal-content .formBody .formBottom .closeBtn {
  background-color: rgb(249, 217, 217);
  color: red;
  border: none;
}
.modal .modal-content .formBody .formBottom .closeBtn:hover,
.modal .modal-content .formBody .formBottom .closeBtn:focus {
  background-color: red;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.modal .modal-content .formBody .formBottom .savebtn:hover,
.modal .modal-content .formBody .formBottom .savebtn:focus {
  background-color: #0560fd;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.modal .modal-content .formBody .common mat-form-field {
  width: 40%;
  padding: 0px !important;
  height: 6vh;
}

.modal .modal-content .formBody .common mat-form-field input {
  height: 4vh;
  width: 100%;
}

.modal .modal-content .formBody .status .statusFields {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  gap: 40px;
}
.modal .modal-content .formBody .status .statusFields label {
  display: flex;
  align-items: center;
}
.modal .modal-content .formBody .status .statusFields label input {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  accent-color: #0560fd;
}
.modal .modal-content .formBody .status .statusFields label input:hover {
  cursor: pointer;
  accent-color: #0560fd;
}
::ng-deep
  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix,
.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix {
  padding: 0px;
  background-color: #eff8fe;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  background-color: #eff8fe !important;
}
