<div class="main_Invoices">
  <h1 class="mainComponentHeading">Invoices</h1>
</div>
<div class="invoice">
  <div class="invoiceTop">
    <div *ngFor="let items of invoices; let i = index" class="invoices cards">
      <h1>{{ items.heading }}</h1>
      <div class="cardBody">
        <span class="material-symbols-outlined icon" [ngClass]="items.color">
          {{ items.icon }}
        </span>
        <h2>{{ items.value }}</h2>
      </div>
    </div>
  </div>
  <div class="invoiceBottom">
    <div class="invoiceBtns">
      <button type="button">Filter</button>
      <button type="button">
        <span class="material-symbols-outlined"> add </span> Invoice
      </button>
    </div>
    <div class="invoiceTable">
      <div class="tableHeading">
        <div class="column1">No.</div>
        <div class="column2">Client</div>
        <div class="column2">Invoice No.</div>
        <div class="column4">Description</div>
        <div class="column2">Created At</div>
        <div class="column2">DueDate</div>
        <div class="column2">Status</div>
      </div>
      <div class="tableContent">
        <ul>
          <li *ngFor="let item of invoiceInformation; let i = index">
            <div class="cell1">{{ i + 1 }}.</div>
            <div class="cell2">{{ item.client }}</div>
            <div class="cell2">{{ item.invoiceNo }}</div>
            <div class="cell4">{{ item.description }}</div>
            <div class="cell2">{{ item.createdAt }}</div>
            <div class="cell2">{{ item.dueDate }}</div>
            <div class="cell2 status">
              <p [ngClass]="{ paid: item.paid, due: item.due }">
                {{ item.paid ? "Paid" : "Due" }}
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
