/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Asap:wght@100;200;300;400;500;600;800&family=Manrope&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: #eff8fe;
  font-family: "Asap", sans-serif;
}
.signup {
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup .main_signup {
  height: 60%;
  width: 50%;
  display: inline-flex;
  overflow: hidden;
}
.signup .main_signup .left {
  background-color: #0560fd;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup .main_signup .left h1 {
  font-size: 60px;
  color: #f8f9fd;
}
.signup .main_signup .form {
  width: 60%;
  background-color: #f8f9fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 8px;
  justify-content: center;
}
.signup .main_signup .form h2 {
  font-size: 40px;
  color: #0560fd;
  height: 20%;
  margin: 0px;
  margin-top: 5px;
}
.signup .main_signup .form form {
  height: 80%;
  width: 60%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.signup .main_signup .form form label {
  font-size: 15px;
  margin-bottom: 5px;
  color: #7c8290;
  font-weight: 600;
}
.signup .main_signup .form form input {
  height: 30px;
  width: 100%;
  margin-bottom: 6px;

  color: #7c8290;
  font-size: 15px;
  border: 1px solid #dce0e7;
  background-color: #f8f9fd;
  border-radius: 8px;
}
.signup .main_signup .form form input:focus {
  border: 1px solid #dce0e7 !important;
  outline: none !important;
  background-color: #f8f9fd;
  color: #7c8290;
  font-size: 15px;
}
.signup .main_signup .form form .btn {
  margin-top: 10px;
  height: 13%;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}
.signup .main_signup .form form button {
  width: 35%;
  height: 40px;
  font-size: 18px;
  border: 1px solid #0560fd;

  background-color: #f8f9fd;
  color: #0560fd;
  border-radius: 8px;
  letter-spacing: 1px;
}

.signup .main_signup .form form button:hover {
  background-color: #0560fd;
  color: #f8f9fd;
}
.signup .main_signup .form form .errors {
  text-align: center;
  z-index: 99;
  margin-left: 40%;
  font-size: 15px;
  color: #ff0000;

  border-radius: 5px;
}

/* Component common styling*/
.mainComponentHeading {
  color: #7c8290;
  font-size: 35px;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  z-index: 1;
}
.client .clientTop button,
.products .productsTop button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 80%;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  /* border-color: #0560fd; */
  border: none;
  color: #0560fd;
  border-radius: 6px;
  font-size: 20px;
  background-color: white;
}
.products .productsTop button:hover,
.client .clientTop button:hover {
  color: white;
  background-color: #0560fd;
  border: none;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(41, 40, 40, 0.4);
}

.modal-content {
  background-color: #fefefe;
  border-radius: 16px;
  border: 1px solid #888;
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  padding: 18px 25px;
}
.open {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close {
  color: #aaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(249, 217, 217);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  color: red;
  justify-content: center;
  border-radius: 7px;
}

.close:hover,
.close:focus {
  background-color: red;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal .modal-content .modal-top {
  width: 100%;
  height: 10%;
}
.modal .modal-content .modal-top h2 {
  font-size: 40px;
  color: #7c8290;
}
.modal .modal-content .modal-top span {
  font-size: 24px;
  display: flex;
  font-weight: 900;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
