<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<div class="main">
  <div class="navbar">
    <div class="logo">
      <h2>Invo.</h2>
    </div>
    <div class="nav">
      <ul>
        <li *ngFor="let navbar of adminNavBar">
          <a routerLink="{{ navbar.url }}">
            <span class="material-symbols-outlined icon">{{
              navbar.icon
            }}</span>
            <span class="icon_text">{{ navbar.title }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="logout_btn">
      <button type="submit">
        <span class="material-symbols-outlined icon"> logout </span>
        <span class="icon_text">Logout</span>
      </button>
    </div>
  </div>
  <div class="main_components">
    <div class="searchBar">
      <div class="searchInput">
        <button type="submit">
          <span class="material-symbols-outlined icon"> search </span>
        </button>
        <input type="text" placeholder="Search" />
      </div>
      <div class="profileInfo">
        <button type="submit" class="profileBtn" (click)="openModal()">
          <h3>CH</h3>
          <div class="profileDate">
            <p class="name">Chris Hutt</p>
            <p class="email">cHutt@acuma.us</p>
          </div>
        </button>
      </div>
    </div>
    <div class="component_display">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{ open: isModalOpen }">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Profile Info</h2>

    <p>This is a modal content.</p>
    <button (click)="closeModal()">Close</button>
  </div>
</div>
