.main {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.navbar {
  width: 230px;
  height: 97vh;
}
.logo {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}
.logo h2 {
  margin-left: 20%;
  font-weight: 500px;
  font-size: 38px;
}
.nav {
  width: 100%;
  height: 60%;
}
.nav ul {
  list-style: none;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav ul li {
  margin: 5px 0px;
  height: 40px;
  border-radius: 8px;
  width: 90%;
}

.nav ul li a {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 40px;
  text-decoration: none;
  font-weight: 400;
  color: #7c8290;
}

.logout_btn button:hover,
.nav ul li a:hover {
  background-color: #0560fd;
  color: white;
}
.nav ul li a .icon {
  margin-left: 40px;
  margin-right: 8px;
}
.nav ul li a .icon_text {
  font-size: 18px;
  font-weight: 300;
}

.logout_btn {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout_btn button {
  width: 90%;
  border-radius: 8px;
  height: 45px;
  border: none;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  color: #7c8290;
  background-color: #edf6fc;
}
.logout_btn button .icon {
  margin-left: 40px;
  margin-right: 8px;
}
.logout_btn button .icon_text {
  font-size: 17px;
  font-weight: 300;
}

.main .main_components {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  padding: 0px 10px;
}
.main .main_components .searchBar {
  /* border: 1px solid red; */
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .main_components .searchBar .searchInput {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}

.main .main_components .searchBar .searchInput input {
  border: none;
  width: 100%;
  height: 35px;
  background-color: transparent;
  color: #7c8290;
  font-size: 16px;
  font-weight: 600;
}
.main .main_components .searchBar .searchInput button {
  border: none;

  height: 35px;
  background-color: transparent;
  color: #7c8290;
  font-size: 16px;
  font-weight: 600;
}

.main .main_components .searchBar .searchInput button {
  border: none;

  height: 35px;
  background-color: transparent;
  color: #7c8290;
  font-size: 16px;
  font-weight: 600;
}
.main .main_components .searchBar .searchInput input:focus {
  outline: none !important;
}
.main .main_components .component_display {
  width: 100%;
  height: 90%;
}

.main .main_components .searchBar .profileInfo {
  width: 60%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
.main .main_components .searchBar .profileInfo h3 {
  background-color: #0560fd;
  font-size: 35px;
  font-weight: 600;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0px;
  color: #ffffff;
  margin-right: 14px;
}
.main .main_components .searchBar .profileDate {
  border: 1px solid green;
  height: 80%;
  padding: 0px;
  margin: 0px;
}
